.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  word-break: keep-all;
  overflow-x: hidden;
  font-family: "Archivo", "Noto Sans KR", sans-serif;
  transition: background-color 0.5s;
  &.dark {
    background-color: #000;
  }
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}
