// font size, font weight, line height
@mixin font-size($size) {
  $line-heights: (
    100: 1.2,
    72: 1.28,
    60: 1,
    52: 1.35,
    50: normal,
    40: 1.25,
    28: 1.43,
    24: 1.67,
    18: 1,
    16: 1.63,
    14: 1,
  );
  @if map-has-key($line-heights, $size) {
    font-family: $font-kr;
    font-size: #{$size}px;
    font-weight: 600;
    line-height: map-get($line-heights, $size);
  } @else {
    @error "#{$size}px은 지정되지 않은 폰트 사이즈 입니다. 수정 해주세요.";
  }
}

// section - worth, global
@mixin text-divide-page($img-url) {
  position: relative;
  padding: 218px 0 226px;
  background: url(../images/#{$img-url}) no-repeat 50%;
  background-size: cover;
  [class*="-title"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    span {
      @include font-size(72);
      color: #fff;
    }
  }
  &::before,
  &::after {
    content: "";
    max-width: 21.875%;
    width: 336px;
    height: 140px;
    position: absolute;
    background-color: #fff;
  }
  &::before {
    top: 0;
    right: 0;
  }
  &::after {
    bottom: 0;
    left: 0;
  }
}

// section - career, certification, trend
@mixin desc-only-page($text-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  [class*="-inner"] {
    width: 100%;
    padding: 80px 100px;
    color: $text-color;
    [class*="-title"] {
      max-width: 50%;
      @include font-size(72);
    }
    .desc-area {
      max-width: 50%;
      margin-left: auto;
      padding-left: 100px;
      [class*="-desc"] {
        @include font-size(24);
      }
    }
  }
}
