// font size, font weight, line height
@mixin font-size($size) {
  $line-heights: (
    100: 1.2,
    72: 1.28,
    60: 1,
    52: 1.35,
    50: normal,
    40: 1.25,
    28: 1.43,
    24: 1.67,
    18: 1,
    16: 1.63,
    14: 1,
  );
  @if map-has-key($line-heights, $size) {
    font-family: $font-kr;
    font-size: #{$size}px;
    font-weight: 600;
    line-height: map-get($line-heights, $size);
  } @else {
    @error "#{$size}px은 지정되지 않은 폰트 사이즈 입니다. 수정 해주세요.";
  }
}

// section / career, certification
@mixin desc-only-page($text-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  [class*="-inner"] {
    width: 100%;
    padding: 80px 100px;
    color: $text-color;
    [class*="-title"] {
      max-width: 50%;
      @include font-size(72);
    }
    .desc-area {
      max-width: 50%;
      margin-left: auto;
      padding-left: 100px;
      [class*="-desc"] {
        @include font-size(24);
      }
    }
  }
}
