.sc-career {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .career-inner {
    width: 100%;
    padding: 80px 100px;
    .career-title {
      max-width: 50%;
      @include font-size(72);
    }
    .desc-area {
      max-width: 50%;
      margin-left: auto;
      padding-left: 100px;
      .career-desc {
        @include font-size(24);
      }
    }
  }
}
