.sc-safety {
  display: flex;
  align-items: center;
  gap: 160px;
  padding: 0 100px;
  color: #fff;
  .safety-title {
    @include font-size(72);
  }
  .group-data-cards {
    .card-list {
      display: flex;
      gap: 40px;
      .card-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
        height: 540px;
        padding: 34px;
        background-color: #000;
        border: 2px solid #fff;
        border-radius: 20px;
        .card-header {
          display: flex;
          justify-content: space-between;
          @include font-size(50);
          font-family: $font-en;
          line-height: 1;
          &::after {
            content: "****";
            font-size: 30px;
          }
        }
        img {
          width: 100%;
          padding: 56px 50px 0 0;
        }
        .card-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            @include font-size(24);
            font-family: $font-en;
          }
          .ic-info {
            width: 40px;
            height: 40px;
            background: url(../../assets/images/card/contract-icon.png)
              no-repeat 50% / cover;
          }
        }
      }
      .card-lock {
        position: relative;
        border: 2px solid transparent;
        padding: 0;
        background-image: linear-gradient(#000, #000),
          linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
        background-origin: border-box;
        background-clip: content-box, border-box;
        img {
          width: 150px;
          position: absolute;
          top: 50%;
          left: 50%;
          padding: 0;
          transform: translate(-50%, -50%);
          &.lock {
            display: none;
          }
        }
      }
    }
  }
}
