.sc-talent {
  height: 300vh;
  .talent-inner {
    display: flex;
    padding: 0 100px;
    height: fit-content;
    .talent-title {
      display: flex;
      align-items: center;
      flex: 0 0 470px;
      height: 100vh;
      position: sticky;
      @include font-size(72);
    }
    .talent-contents {
      flex: 0 0 calc(100% - 470px);
      max-width: calc(100% - 470px);
      display: flex;
      flex-direction: column;
      gap: 186px;
      padding-top: 100vh;
      height: fit-content;
      .user {
        max-width: 46.4%;
        align-self: flex-end;
        &-desc {
          margin-top: 12px;
          @include font-size(16);
        }
      }
      .user:nth-child(2) {
        align-self: flex-start;
      }
    }
  }
}
