#header {
  position: fixed;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  z-index: 100;
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    .logo {
      padding: 17px 0;
      img {
        filter: brightness(0) invert(1);
        transition: filter 0.5s;
      }
    }
  }
}
#gnb {
  .nav-list {
    display: flex;
    align-items: center;
    .nav-item {
      a {
        display: flex;
        align-items: center;
        padding: 23px 25px;
        color: #fff;
        @include font-size(18);
        font-weight: 600;
        transition: all 0.5s;
        .ic-lang path,
        .ic-more path {
          stroke: #fff;
          transition: stroke 0.5s;
        }
        span {
          margin: 0 5px;
        }
      }
    }
  }
}
#header.dark {
  .header-inner .logo img {
    filter: brightness(0) invert(0);
  }
  #gnb .nav-list .nav-item a {
    color: #000;
    .ic-lang path,
    .ic-more path {
      stroke: #000;
      transition: stroke 0.5s;
    }
  }
}
