@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

body {
  word-break: keep-all;
  overflow-x: hidden;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

body {
  position: relative;
}

#btn-top {
  position: fixed;
  right: 100px;
  bottom: 40px;
  z-index: 50;
}
#btn-top button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background-color: #111;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

#btn-top.show {
  visibility: visible;
  opacity: 1;
}

#btn-top.hide {
  visibility: hidden;
  opacity: 0;
}

.scroll-down {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#header {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #f00;
}
#header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
}
#header .header-inner .logo {
  padding: 17px 0;
}
#header .header-inner .logo img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}
#header .header-inner #gnb .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .header-inner #gnb .nav-list .nav-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

#header[data-dark=true] .header-inner .logo img {
  -webkit-filter: none;
          filter: none;
}
#header[data-dark=true] #gnb .nav-list .nav-item a {
  color: #000;
}
#header[data-dark=true] .ic-lang path {
  stroke: #000;
}
#header[data-dark=true] .ic-more path {
  stroke: #000;
}

#footer {
  background-color: #000;
}
#footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 58px 100px;
}
#footer .footer-inner .info-area {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  font-weight: 400;
}
#footer .footer-inner .info-area .copy {
  display: block;
  margin-top: 10px;
  font-weight: 300;
}

.sc-intro {
  position: relative;
}
.sc-intro .bg {
  z-index: -1;
}
.sc-intro .bg-video {
  width: 100%;
}
.sc-intro .intro-contents {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.sc-intro .intro-contents .intro-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 52px;
  font-weight: 600;
  line-height: 1.35;
  font-weight: 700;
  color: #fff;
}

.sc-showcase {
  height: 100vh;
}
.sc-showcase .bg {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.sc-showcase .bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sc-showcase .bg img:last-child {
  top: -800px;
}
.sc-showcase .showcase-contents {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.sc-showcase .showcase-contents > [class*=-desc] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
}
.sc-showcase .showcase-contents .desc01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 100px;
  font-weight: 600;
  line-height: 1.2;
}
.sc-showcase .showcase-contents .desc02 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}

.sc-career {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
.sc-career .career-inner {
  width: 100%;
  padding: 80px 100px;
}
.sc-career .career-inner .career-title {
  max-width: 50%;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
  font-family: "Noto Sans KR", sans-serif;
}
.sc-career .career-inner .desc-area {
  max-width: 50%;
  margin-left: auto;
  padding-left: 100px;
}
.sc-career .career-inner .desc-area .career-desc {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  font-family: "Noto Sans KR", sans-serif;
}/*# sourceMappingURL=style.css.map */