@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

body {
  word-break: keep-all;
  overflow-x: hidden;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

body {
  position: relative;
}

#btn-top {
  position: fixed;
  right: 100px;
  bottom: 40px;
  z-index: 50;
}
#btn-top button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background-color: #111;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

#btn-top.show {
  visibility: visible;
  opacity: 1;
}

#btn-top.hide {
  visibility: hidden;
  opacity: 0;
}

.scroll-down {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#header {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #f00;
}
#header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
}
#header .header-inner .logo {
  padding: 17px 0;
}
#header .header-inner .logo img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}
#header .header-inner #gnb .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .header-inner #gnb .nav-list .nav-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 25px;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  font-weight: 600;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

#header[data-dark=true] .header-inner .logo img {
  -webkit-filter: none;
          filter: none;
}
#header[data-dark=true] #gnb .nav-list .nav-item a {
  color: #000;
}
#header[data-dark=true] .ic-lang path {
  stroke: #000;
}
#header[data-dark=true] .ic-more path {
  stroke: #000;
}

#footer {
  background-color: #000;
}
#footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 58px 100px;
}
#footer .footer-inner .info-area {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  font-weight: 400;
}
#footer .footer-inner .info-area .copy {
  display: block;
  margin-top: 10px;
  font-weight: 300;
}

#contents .sc-career {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
#contents .sc-career [class*=-inner] {
  width: 100%;
  padding: 80px 100px;
  color: #000;
}
#contents .sc-career [class*=-inner] [class*=-title] {
  max-width: 50%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
#contents .sc-career [class*=-inner] .desc-area {
  max-width: 50%;
  margin-left: auto;
  padding-left: 100px;
}
#contents .sc-career [class*=-inner] .desc-area [class*=-desc] {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}
#contents .sc-certification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
#contents .sc-certification [class*=-inner] {
  width: 100%;
  padding: 80px 100px;
  color: #fff;
}
#contents .sc-certification [class*=-inner] [class*=-title] {
  max-width: 50%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
#contents .sc-certification [class*=-inner] .desc-area {
  max-width: 50%;
  margin-left: auto;
  padding-left: 100px;
}
#contents .sc-certification [class*=-inner] .desc-area [class*=-desc] {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}
#contents .sc-trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
#contents .sc-trend [class*=-inner] {
  width: 100%;
  padding: 80px 100px;
  color: #000;
}
#contents .sc-trend [class*=-inner] [class*=-title] {
  max-width: 50%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
#contents .sc-trend [class*=-inner] .desc-area {
  max-width: 50%;
  margin-left: auto;
  padding-left: 100px;
}
#contents .sc-trend [class*=-inner] .desc-area [class*=-desc] {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}
.sc-intro {
  position: relative;
}
.sc-intro .bg {
  z-index: -1;
}
.sc-intro .bg-video {
  width: 100%;
}
.sc-intro .intro-contents {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.sc-intro .intro-contents .intro-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.35;
  font-weight: 700;
  color: #fff;
}

.sc-showcase {
  height: 100vh;
}
.sc-showcase .bg {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.sc-showcase .bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sc-showcase .bg img:last-child {
  top: -800px;
}
.sc-showcase .showcase-contents {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.sc-showcase .showcase-contents > [class*=-desc] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
}
.sc-showcase .showcase-contents .desc01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 100px;
  font-weight: 600;
  line-height: 1.2;
}
.sc-showcase .showcase-contents .desc02 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}

.sc-worth {
  position: relative;
  padding: 218px 0 226px;
  background: url(../images/worth_aqua.jpg) no-repeat 50%;
  background-size: cover;
}
.sc-worth .worth-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.sc-worth .worth-title span {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
  color: #fff;
}
.sc-worth::before, .sc-worth::after {
  content: "";
  max-width: 21.875%;
  width: 336px;
  height: 140px;
  position: absolute;
  background-color: #fff;
}
.sc-worth::before {
  top: 0;
  right: 0;
}
.sc-worth::after {
  bottom: 0;
  left: 0;
}

.sc-talent .talent-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 0 100px;
  overflow-y: scroll;
}
.sc-talent .talent-inner .talent-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 470px;
          flex: 0 0 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  top: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
.sc-talent .talent-inner .talent-contents {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 470px);
          flex: 0 0 calc(100% - 470px);
  max-width: calc(100% - 470px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 186px;
  padding: 100vh 0;
}
.sc-talent .talent-inner .talent-contents .user {
  max-width: 46.4%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.sc-talent .talent-inner .talent-contents .user-desc {
  margin-top: 12px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
}
.sc-talent .talent-inner .talent-contents .user:nth-child(2) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.sc-talent .talent-inner .talent-contents .user:last-child {
  padding-bottom: 100vh;
}

.sc-possible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
}
.sc-possible .possible-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 160px;
  padding-left: 100px;
  color: #fff;
  overflow-x: scroll;
}
.sc-possible .possible-inner .possible-title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
.sc-possible .possible-inner .group-process {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.sc-possible .possible-inner .group-process .process-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}
.sc-possible .possible-inner .group-process .process-list .process-item .frame {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 58px;
  aspect-ratio: 1/1;
}
.sc-possible .possible-inner .group-process .process-list .process-item .frame img {
  max-width: 54%;
}
.sc-possible .possible-inner .group-process .process-list .process-item p {
  margin-top: 24px;
  padding-left: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  font-weight: 700;
}
.sc-possible .possible-inner .group-process .process-list .process-item:not(:last-child) .frame::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: -44px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border: 8px solid #fff;
  border-left: 0;
  border-bottom: 0;
}
.sc-possible .possible-inner .graphic-area {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(100vw - 100px);
  padding: 0 200px 0 100px;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap {
  position: relative;
  width: 506px;
  margin: 0 auto;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap img {
  width: 100%;
  max-width: 100%;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.5%;
  position: absolute;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text em {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  line-height: 1.42;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text span {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
  font-weight: 700;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text.record {
  left: 0;
  bottom: 26.3%;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text.prove {
  width: 100%;
  top: 9%;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text.growth {
  right: 0;
  bottom: 26.3%;
}
.sc-possible .possible-desc {
  padding: 0 100px;
  position: absolute;
  left: 0;
  bottom: 4.1667vh;
  color: #989898;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  font-weight: 400;
  line-height: 1.63;
}/*# sourceMappingURL=style.css.map */