@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  word-break: keep-all;
  overflow-x: hidden;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  font-family: "Archivo", "Noto Sans KR", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

body {
  position: relative;
}

#btn-top {
  visibility: hidden;
  position: fixed;
  right: 100px;
  bottom: 40px;
  opacity: 0;
  z-index: 50;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
#btn-top button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background-color: #111;
}

#btn-top.show {
  visibility: visible;
  opacity: 1;
}

.scroll-down {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.gradient-card-frame {
  width: 400px;
  min-width: 400px;
  height: 540px;
  border: 2px solid transparent !important;
  border-radius: 20px;
  background-color: #000;
  background-image: linear-gradient(#000, #000), linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#header {
  position: fixed;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 100;
}
#header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
}
#header .header-inner .logo {
  padding: 17px 0;
}
#header .header-inner .logo img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

#gnb .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#gnb .nav-list .nav-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#gnb .nav-list .nav-item a .ic-lang path,
#gnb .nav-list .nav-item a .ic-more path {
  stroke: #fff;
  -webkit-transition: stroke 0.5s;
  transition: stroke 0.5s;
}
#gnb .nav-list .nav-item a span {
  margin: 0 5px;
}

#header.dark .header-inner .logo img {
  -webkit-filter: none;
          filter: none;
}
#header.dark #gnb .nav-list .nav-item a {
  color: #000;
}
#header.dark #gnb .nav-list .nav-item a .ic-lang path,
#header.dark #gnb .nav-list .nav-item a .ic-more path {
  stroke: #000;
  -webkit-transition: stroke 0.5s;
  transition: stroke 0.5s;
}

#footer {
  background-color: #000;
}
#footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 58px 100px;
}
#footer .footer-inner .info-area {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  font-weight: 400;
}
#footer .footer-inner .info-area .copy {
  display: block;
  margin-top: 10px;
  font-weight: 300;
}

#contents .sc-career {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
#contents .sc-career [class*=-inner] {
  width: 100%;
  padding: 80px 100px;
  color: #000;
}
#contents .sc-career [class*=-inner] [class*=-title] {
  max-width: 50%;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
#contents .sc-career [class*=-inner] .desc-area {
  max-width: 50%;
  margin-left: auto;
  padding-left: 100px;
}
#contents .sc-career [class*=-inner] .desc-area [class*=-desc] {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}
#contents .sc-worth {
  position: relative;
  padding: 218px 0 226px;
  background: url(../images/worth_aqua.jpg) no-repeat 50%;
  background-size: cover;
}
#contents .sc-worth [class*=-title] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
#contents .sc-worth [class*=-title] span {
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
  color: #fff;
}
#contents .sc-worth [class*=box-] {
  min-width: 21.875%;
  height: 140px;
  position: absolute;
  background-color: #fff;
}
#contents .sc-worth .box-top {
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
#contents .sc-worth .box-bottom {
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
#contents .sc-certification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin-top: 2000px;
}
#contents .sc-certification [class*=-inner] {
  width: 100%;
  padding: 80px 100px;
  color: #fff;
}
#contents .sc-certification [class*=-inner] [class*=-title] {
  max-width: 50%;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
#contents .sc-certification [class*=-inner] .desc-area {
  max-width: 50%;
  margin-left: auto;
  padding-left: 100px;
}
#contents .sc-certification [class*=-inner] .desc-area [class*=-desc] {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}
#contents .sc-certification .certification-desc {
  color: #fff;
}
#contents .sc-trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
#contents .sc-trend [class*=-inner] {
  width: 100%;
  padding: 80px 100px;
  color: #000;
}
#contents .sc-trend [class*=-inner] [class*=-title] {
  max-width: 50%;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
#contents .sc-trend [class*=-inner] .desc-area {
  max-width: 50%;
  margin-left: auto;
  padding-left: 100px;
}
#contents .sc-trend [class*=-inner] .desc-area [class*=-desc] {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}
#contents .sc-global {
  position: relative;
  padding: 218px 0 226px;
  background: url(../images/prove.jpg) no-repeat 50%;
  background-size: cover;
}
#contents .sc-global [class*=-title] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
#contents .sc-global [class*=-title] span {
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
  color: #fff;
}
#contents .sc-global [class*=box-] {
  min-width: 21.875%;
  height: 140px;
  position: absolute;
  background-color: #fff;
}
#contents .sc-global .box-top {
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
#contents .sc-global .box-bottom {
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.sc-intro {
  position: relative;
  height: 800vh;
}
.sc-intro .bg {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.sc-intro .bg-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-intro .intro-contents {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.sc-intro .intro-contents .intro-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 52px;
  font-weight: 600;
  line-height: 1.35;
  font-weight: 700;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.sc-intro .intro-contents .intro-desc:last-child {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}

.sc-showcase {
  height: 600vh;
}
.sc-showcase .bg {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.sc-showcase .bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sc-showcase .showcase-contents {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.sc-showcase .showcase-contents > [class*=-desc] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
}
.sc-showcase .showcase-contents .desc01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 100px;
  font-weight: 600;
  line-height: 1.2;
}
.sc-showcase .showcase-contents .desc01 span {
  opacity: 0;
}
.sc-showcase .showcase-contents .desc02 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  opacity: 0;
}

.sc-talent {
  height: 300vh;
}
.sc-talent .talent-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.sc-talent .talent-inner .talent-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 470px;
          flex: 0 0 470px;
  height: 100vh;
  position: sticky;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
.sc-talent .talent-inner .talent-contents {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 470px);
          flex: 0 0 calc(100% - 470px);
  max-width: calc(100% - 470px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 186px;
  padding-top: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.sc-talent .talent-inner .talent-contents .user {
  max-width: 46.4%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.sc-talent .talent-inner .talent-contents .user-desc {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
}
.sc-talent .talent-inner .talent-contents .user:nth-child(2) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.sc-possible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
}
.sc-possible .possible-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 160px;
  padding-left: 100px;
  color: #fff;
}
.sc-possible .possible-inner .possible-title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
.sc-possible .possible-inner .group-process {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.sc-possible .possible-inner .group-process .process-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}
.sc-possible .possible-inner .group-process .process-list .process-item .frame {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 58px;
  aspect-ratio: 1/1;
}
.sc-possible .possible-inner .group-process .process-list .process-item .frame img {
  max-width: 54%;
}
.sc-possible .possible-inner .group-process .process-list .process-item p {
  margin-top: 24px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  font-weight: 700;
}
.sc-possible .possible-inner .group-process .process-list .process-item:not(:last-child) .frame::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: -44px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border: 8px solid #fff;
  border-left: 0;
  border-bottom: 0;
}
.sc-possible .possible-inner .graphic-area {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(100vw - 100px);
  padding: 0 200px 0 100px;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap {
  position: relative;
  width: 506px;
  margin: 0 auto;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap img {
  width: 100%;
  max-width: 100%;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.5%;
  position: absolute;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text em {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  line-height: 1.42;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text span {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
  font-weight: 700;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text.record {
  left: 0;
  bottom: 26.3%;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text.prove {
  width: 100%;
  top: 9%;
}
.sc-possible .possible-inner .graphic-area .graphic-wrap .text-box .graphic-text.growth {
  right: 0;
  bottom: 26.3%;
}
.sc-possible .possible-desc {
  padding: 0 100px;
  position: absolute;
  left: 0;
  bottom: 4.1667vh;
  color: #989898;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  font-weight: 400;
  line-height: 1.63;
}

.sc-gradation {
  position: relative;
}
.sc-gradation .group-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 175px;
}
.sc-gradation .group-block .blur {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: calc(100% - 2px);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  outline: 2px solid #000;
  opacity: 0;
  z-index: 1;
}
.sc-gradation .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sc-gradation .box.pink {
  background-color: #e657af;
}
.sc-gradation .box.blue {
  background-color: #0049ff;
}
.sc-gradation .box.green {
  background-color: #43cf2e;
}
.sc-gradation .desc-area {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 1;
}
.sc-gradation .desc-area .gradation-desc {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
  color: #fff;
}

.sc-safety .safety-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 160px;
  height: 100vh;
  color: #fff;
}
.sc-safety .safety-inner .safety-title {
  padding-left: 100px;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
.sc-safety .safety-inner .group-data-cards .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.sc-safety .safety-inner .group-data-cards .card-list .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  height: 540px;
  padding: 34px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 20px;
}
.sc-safety .safety-inner .group-data-cards .card-list .card-item .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  line-height: 1;
}
.sc-safety .safety-inner .group-data-cards .card-list .card-item .card-header::after {
  content: "****";
  font-size: 30px;
}
.sc-safety .safety-inner .group-data-cards .card-list .card-item img {
  width: 100%;
  padding: 56px 50px 0 0;
}
.sc-safety .safety-inner .group-data-cards .card-list .card-item .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sc-safety .safety-inner .group-data-cards .card-list .card-item .card-info span {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}
.sc-safety .safety-inner .group-data-cards .card-list .card-item .card-info .ic-info {
  width: 40px;
  height: 40px;
  background: url(../../assets/images/card/contract-icon.png) no-repeat 50%/cover;
}
.sc-safety .safety-inner .group-data-cards .card-list .card-lock {
  position: relative;
  padding: 0;
}
.sc-safety .safety-inner .group-data-cards .card-list .card-lock img {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sc-safety .safety-inner .group-data-cards .card-list .card-lock img.lock {
  opacity: 0;
}

.sc-service .flex {
  padding: 0 100px;
}
.sc-service .flex .card-lock {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
}
.sc-service .flex .card-lock .gradient-text {
  background-image: -webkit-gradient(linear, left top, right top, from(#43cf2e), color-stop(#0049ff), to(#e657af));
  background-image: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
  font-weight: 700;
}
.sc-service .flex .group-service {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 800px;
  padding-top: 13.5417vw;
}
.sc-service .flex .group-service .service-content {
  color: #fff;
}
.sc-service .flex .group-service .service-content:first-child .service-title {
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
.sc-service .flex .group-service .service-content:first-child .service-desc {
  padding: 34px 0 80px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  font-weight: 700;
}
.sc-service .flex .group-service .service-content:first-child .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.sc-service .flex .group-service .service-content:first-child .service-list .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 52px;
}
.sc-service .flex .group-service .service-content:first-child .service-list .service-item .gradient-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0.5 400px;
          flex: 0 0.5 400px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid transparent;
  background-image: linear-gradient(#000, #000), linear-gradient(300deg, #e657af, #0049ff, #43cf2e);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.sc-service .flex .group-service .service-content:first-child .service-list .service-item .gradient-card .gradient-text {
  background-image: -webkit-gradient(linear, left top, right top, from(#43cf2e), color-stop(#0049ff), to(#e657af));
  background-image: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.43;
  font-weight: 700;
  text-align: center;
}
.sc-service .flex .group-service .service-content:first-child .service-list .service-item .service-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}
.sc-service .flex .group-service .service-content:last-child {
  margin-top: 160px;
}
.sc-service .flex .group-service .service-content:last-child .service-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 80px;
}
.sc-service .flex .group-service .service-content:last-child .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.sc-service .flex .group-service .service-content:last-child .service-list .service-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}
.sc-service .flex .group-service .service-content:last-child .service-list .service-item p {
  padding-top: 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}
.sc-service .group-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.sc-service .group-review .review-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.sc-service .group-review .review-list .review-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  height: 540px;
  padding: 34px;
  color: #fff;
}
.sc-service .group-review .review-list .review-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: hsla(0, 0%, 42%, 0.3);
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
}
.sc-service .group-review .review-list .review-item:nth-child(1) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
}
.sc-service .group-review .review-list .review-item:nth-child(1) .gradient-text {
  background-image: -webkit-gradient(linear, left top, right top, from(#43cf2e), color-stop(#0049ff), to(#e657af));
  background-image: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
  font-weight: 700;
  z-index: 1;
}
.sc-service .group-review .review-list .review-item:nth-child(1)::before {
  content: "";
  width: 160%;
  height: 160%;
  position: absolute;
  left: -30%;
  top: -30%;
  background: url(../../assets/images/card/card-glow.png) no-repeat center/cover;
}
.sc-service .group-review .review-list .review-item:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  border-radius: 20px;
}
.sc-service .group-review .review-list .review-item .bg {
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
}
.sc-service .group-review .review-list .review-item:nth-child(2) .bg {
  height: 100%;
  background: url(../../assets/images/card/image-sec-2-1.png) no-repeat top/cover;
}
.sc-service .group-review .review-list .review-item:nth-child(2) .profile-circle {
  background-color: #ff009d;
}
.sc-service .group-review .review-list .review-item:nth-child(3) .bg {
  height: 100%;
  background: url(../../assets/images/card/image-sec-2-2.png) no-repeat top/cover;
}
.sc-service .group-review .review-list .review-item:nth-child(3) .profile-circle {
  background-color: #0049ff;
}
.sc-service .group-review .review-list .review-item:nth-child(4) .bg {
  height: 100%;
  background: url(../../assets/images/card/image-sec-2-3.png) no-repeat top/cover;
}
.sc-service .group-review .review-list .review-item:nth-child(4) .profile-circle {
  background-color: #26ff00;
}
.sc-service .group-review .review-list .review-item .top-area {
  z-index: 1;
}
.sc-service .group-review .review-list .review-item .top-area .title-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 110px;
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  line-height: 1;
}
.sc-service .group-review .review-list .review-item .top-area .title-wrap::after {
  content: "****";
  font-size: 30px;
}
.sc-service .group-review .review-list .review-item .top-area .desc {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
}
.sc-service .group-review .review-list .review-item .info-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.sc-service .group-review .review-list .review-item .info-area .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.sc-service .group-review .review-list .review-item .info-area .user .profile-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.sc-service .group-review .review-list .review-item .info-area .user .user-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
  font-weight: 700;
}
.sc-service .group-review .review-list .review-item .info-area .ic-info {
  width: 40px;
  height: 40px;
  background: url(../../assets/images/card/contract-icon.png) no-repeat 50%/cover;
}
.sc-service .group-review .review-title {
  padding-left: 200px;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
  font-weight: 700;
  color: #fff;
}

.sc-future {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.sc-future .future-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
}
.sc-future .future-inner .future-title {
  padding: 0 160px 0 100px;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
  font-weight: 700;
  white-space: nowrap;
}
.sc-future .future-inner .future-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sc-future .future-inner .future-contents .asset-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.sc-future .future-inner .future-contents .asset-list .asset-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  width: 400px;
  height: 540px;
  border-radius: 20px;
  background-color: #e657af;
  color: #fff;
}
.sc-future .future-inner .future-contents .asset-list .asset-item:nth-child(2) {
  background-color: #0049ff;
}
.sc-future .future-inner .future-contents .asset-list .asset-item:nth-child(2) .title::after {
  content: "****";
  font-size: 30px;
  line-height: 1.24;
}
.sc-future .future-inner .future-contents .asset-list .asset-item:nth-child(3) {
  background: url(/assets/images/card/image-sec-3-3.png) no-repeat center/cover;
}
.sc-future .future-inner .future-contents .asset-list .asset-item:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: hsla(0, 0%, 42%, 0.3);
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
}
.sc-future .future-inner .future-contents .asset-list .asset-item .asset-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 34px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.sc-future .future-inner .future-contents .asset-list .asset-item .asset-wrap .top .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sc-future .future-inner .future-contents .asset-list .asset-item .asset-wrap .top .title h3 {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  line-height: 1.24;
}
.sc-future .future-inner .future-contents .asset-list .asset-item .asset-wrap .top .title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
}
.sc-future .future-inner .future-contents .asset-list .asset-item .asset-wrap .top .title span::before {
  content: "****";
  font-size: 30px;
  line-height: 1.24;
}
.sc-future .future-inner .future-contents .asset-list .asset-item .asset-wrap .top .contents {
  padding-top: 10px;
}
.sc-future .future-inner .future-contents .asset-list .asset-item .asset-wrap .top .contents .contents-list .contents-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}
.sc-future .future-inner .future-contents .asset-list .asset-item .asset-wrap .top .contents .contents-list .contents-item strong {
  font-size: 20px;
  font-weight: 600;
}
.sc-future .future-inner .future-contents .asset-list .asset-item .asset-wrap .top .contents .contents-list .contents-item span {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
  font-weight: 400;
}
.sc-future .future-inner .future-contents .asset-list .asset-item .asset-wrap .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
  font-weight: 700;
}
.sc-future .future-inner .future-contents .asset-list .asset-item .asset-wrap .info .ic-info {
  width: 40px;
  height: 40px;
  background: url(../../assets/images/card/contract-icon.png) no-repeat 50%/cover;
}
.sc-future .future-inner .future-contents .future-desc {
  padding: 0 60px 0 160px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  font-weight: 700;
  white-space: nowrap;
}
.sc-future .future-bottom {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 98%, 0)), to(#fff));
  background-image: linear-gradient(180deg, hsla(0, 0%, 98%, 0), #fff);
  text-align: center;
  z-index: 40;
}
.sc-future .future-bottom .group-arrow {
  margin-top: 10px;
}
.sc-future .future-bottom .group-arrow .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 14px;
}
.sc-future .future-bottom .group-arrow .arrow-item {
  width: 27px;
  height: 27px;
  border-width: 8px;
  border-left: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-style: solid;
}
.sc-future .future-bottom .group-arrow .arrow-item:nth-child(1) {
  -o-border-image: linear-gradient(60deg, #e657af 60%, #0049ff 160%);
     border-image: linear-gradient(60deg, #e657af 60%, #0049ff 160%);
  border-image-slice: 1;
}
.sc-future .future-bottom .group-arrow .arrow-item:nth-child(2) {
  -o-border-image: linear-gradient(60deg, #e657af 20%, #0049ff 145%);
     border-image: linear-gradient(60deg, #e657af 20%, #0049ff 145%);
  border-image-slice: 1;
}
.sc-future .future-bottom .group-arrow .arrow-item:nth-child(3) {
  -o-border-image: linear-gradient(60deg, #e657af, #0049ff 130%);
     border-image: linear-gradient(60deg, #e657af, #0049ff 130%);
  border-image-slice: 1;
}
.sc-future .future-bottom .group-arrow .arrow-item:nth-child(4) {
  -o-border-image: linear-gradient(50deg, #e657af, #0049ff 100%);
     border-image: linear-gradient(50deg, #e657af, #0049ff 100%);
  border-image-slice: 1;
}
.sc-future .future-bottom .group-arrow .arrow-item:nth-child(5) {
  -o-border-image: linear-gradient(50deg, #e657af, #0049ff 80%);
     border-image: linear-gradient(50deg, #e657af, #0049ff 80%);
  border-image-slice: 1;
}
.sc-future .future-bottom .group-arrow .arrow-item:nth-child(6) {
  -o-border-image: linear-gradient(50deg, #0049ff 45%, #43cf2e 135%);
     border-image: linear-gradient(50deg, #0049ff 45%, #43cf2e 135%);
  border-image-slice: 1;
}
.sc-future .future-bottom .group-arrow .arrow-item:nth-child(7) {
  -o-border-image: linear-gradient(51deg, #0049ff, #43cf2e 75%);
     border-image: linear-gradient(51deg, #0049ff, #43cf2e 75%);
  border-image-slice: 1;
}
.sc-future .future-bottom .group-arrow .arrow-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}

.sc-creator {
  height: 100vh;
  overflow-y: scroll;
}
.sc-creator .group-top {
  position: relative;
}
.sc-creator .group-top .title-wrap {
  position: absolute;
  top: 50%;
  left: 200px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}
.sc-creator .group-top .title-wrap .creator-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  line-height: 1.2;
}
.sc-creator .group-top .title-wrap p {
  padding-top: 26px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}
.sc-creator .group-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
}
.sc-creator .group-bottom .creator-title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 160px 0 100px;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
  font-weight: 700;
}
.sc-creator .group-bottom .record-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.sc-creator .group-bottom .record-list .record-item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 400px;
  height: 540px;
  border-radius: 20px;
  color: #fff;
}
.sc-creator .group-bottom .record-list .record-item:nth-child(1) {
  width: 400px;
  height: 540px;
  background: url(/assets/images/card/image-sec-4-1.png) no-repeat center/cover;
}
.sc-creator .group-bottom .record-list .record-item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background-color: hsla(0, 0%, 42%, 0.3);
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
}
.sc-creator .group-bottom .record-list .record-item:nth-child(1) .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sc-creator .group-bottom .record-list .record-item:nth-child(1) .title::after {
  content: "****";
  font-size: 30px;
}
.sc-creator .group-bottom .record-list .record-item:nth-child(2) {
  background-color: #0049ff;
}
.sc-creator .group-bottom .record-list .record-item:nth-child(3) {
  background-color: #000;
}
.sc-creator .group-bottom .record-list .record-item:nth-child(4) {
  background-color: #00bf41;
}
.sc-creator .group-bottom .record-list .record-item .item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 34px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
}
.sc-creator .group-bottom .record-list .record-item .item-wrap .title {
  min-height: 110px;
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  line-height: 1.21;
}
.sc-creator .group-bottom .record-list .record-item .item-wrap .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
}
.sc-creator .group-bottom .record-list .record-item .item-wrap .desc span {
  margin-top: 8px;
}
.sc-creator .group-bottom .record-list .record-item .item-wrap .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sc-creator .group-bottom .record-list .record-item .item-wrap .info .user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.sc-creator .group-bottom .record-list .record-item .item-wrap .info .user-box .profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e657af;
}
.sc-creator .group-bottom .record-list .record-item .item-wrap .info .user-box .name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.63;
  font-weight: 700;
}
.sc-creator .group-bottom .record-list .record-item .item-wrap .info .ic-info {
  width: 40px;
  height: 40px;
  background: url(../../assets/images/card/contract-icon.png) no-repeat 50%/cover;
}
.sc-creator .group-bottom .creator-desc {
  padding: 0 60px 0 160px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  font-weight: 700;
}

.sc-participation .participation-inner {
  padding: 200px 100px;
}
.sc-participation .participation-inner .participation-title {
  font-size: 72px;
  font-weight: 600;
  line-height: 1.28;
}
.sc-participation .participation-inner .participation-desc {
  margin: 37px 0 70px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}
.sc-participation .participation-inner .group-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}
.sc-participation .participation-inner .group-links a {
  padding: 3px 21px 1px;
  border: 2px solid #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  line-height: 2.22;
}
.sc-participation .participation-inner .group-links a.focus {
  background-color: #000;
  color: #fff;
}
.sc-participation .group-join {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.sc-participation .group-join::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
}
.sc-participation .group-join .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 72px;
}
.sc-participation .group-join .box:nth-child(3n-1) {
  background-color: #0049ff;
}
.sc-participation .group-join .box:nth-child(3n-2) {
  background-color: #43cf2e;
}
.sc-participation .group-join .box:nth-child(3n) {
  background-color: #e657af;
}
.sc-participation .group-join .box .text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  color: #fff;
  z-index: 2;
}
.sc-participation .group-join .box .text-area span {
  font-style: italic;
}/*# sourceMappingURL=style.css.map */